.audio_box {
    display: block;
    position: relative;
    height: 295px;
    margin: 14px 0;
    padding: 5px;
    border: 2px solid #B8CCC9;
    border-radius: 5px;
    z-index: 99;

    .details {
        padding: 5px;

        .header {
            display: inline-block;
            margin-bottom: 10px;

            .rating {
                float: left;
                font-size: 20px;

                .fa-star {
                    color: $star-color;
                }
            }

            .date {
                padding: 5px;

                p {
                    position: relative;
                    margin: 0;
                    font-style: italic;
                }
            }
        }

        .scrollable {
            height: 132px;
            overflow-y: auto;
            min-height: 201px;

            .duration {
                padding-bottom: 10px;
                // border-bottom: 1px solid $border-color;
            }
        }
    }

    .audio {
          border-top: 1px solid $border-color;
        audio::-webkit-media-controls-volume-slider,
        audio::-webkit-media-controls-volume-slider-container {
            display: none;
        }
    }
}
