.book_box {
    .bbox_outer {
        padding: 5px;

        .bbox_inner {
            .b_author,
            .b_title {
                margin: 5px 0;
                font-style: italic;
            }

            .b_price {
                margin: 5px 0;
            }
        }
    }
}
